@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.drag{
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.clip1 {

  /* clip-path: inset(0 70% 0 0); */
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-name: slidein;
  animation-timing-function: linear;
}
/* 
@keyframes slidein {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0% 0 0);
  }
} */