@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #74747498;
    border-radius: 4px;
}

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

.clip1 {
    /* clip-path: inset(0 70% 0 0); */
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: slidein;
    animation-timing-function: linear;
}

.rtl-grid {
    direction: rtl;
}

.animate-bg-spin {
    /* background: linear-gradient(130deg, #ff7e00, #ffffff, #5cff00); */
    background-size: 400% 400%;

    animation: Animation 10s infinite ease-in-out reverse;
}

@keyframes Animation {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 75% 0%;
    }
    50% {
        background-position: 75% 75%;
    }
    75% {
        background-position: 0% 75%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.pause {
    animation-play-state: paused;
}

.directory-list::-webkit-scrollbar {
    display: none;
}

/* .bottom-bar::-webkit-scrollbar {
    display: none;
} */

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 47.4% 11.2%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 47.4% 11.2%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 224 71% 4%;
        --foreground: 213 31% 91%;

        --muted: 223 47% 11%;
        --muted-foreground: 215.4 16.3% 56.9%;

        --accent: 216 34% 17%;
        --accent-foreground: 210 40% 98%;

        --popover: 224 71% 4%;
        --popover-foreground: 215 20.2% 65.1%;

        --border: 216 34% 17%;
        --input: 216 34% 17%;

        --card: 224 71% 4%;
        --card-foreground: 213 31% 91%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 1.2%;

        --secondary: 222.2 47.4% 11.2%;
        --secondary-foreground: 210 40% 98%;

        --destructive: 0 63% 31%;
        --destructive-foreground: 210 40% 98%;

        --ring: 216 34% 17%;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        font-feature-settings:
            'rlig' 1,
            'calt' 1;
    }
}

#svg {
    polyline {
        stroke-linecap: round;
    }
}
