@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');

h1 {
    font-family: 'Handjet', cursive;
    text-align: center;
}

span:nth-child(1) {
    animation: text-blur-out 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite
        reverse;
}

@keyframes text-blur-out {
    0% {
        -webkit-filter: blur(0);
        filter: blur(0);
    }
    100% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
    }
}
